


body{background-color:#EAF6F6;}

hr{

  border-style: none;
  border-bottom-style: dotted;
  border-left-style: dotted;

  border-color: #CEE5D0;
  border-width:5px;
  width: 5%;
}

h1{
color: #66BFBF;
}
h2{
  color: #66BFBF;
}

h3{
  color: #66BFBF;
}
